<% title "Psalm 119" %>

<div class="space-y-8">
  <% @verses.each_with_index do |verses, i| %>
    <div>
      <h3 class="font-medium text-lg px-4"><%= VersesController::LETTERS[i] %></h3>
      <div class="divide-y">
        <% verses.each do |verse| %>
          <%= link_to verse, class: 'flex items-start p-4 even:bg-gray-50' do %>
            <div>
              <div class="text-sm font-semibold">
                <%= verse.number %>
              </div>
            </div>

            <div class="ml-4">
              <div class="text-sm"><%= verse.nasb %></div>
              <div class="text-xs text-gray-400">NASB95</div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
